*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lightblue;
  color: white; 
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  
}

/*boton para starwars*/
.starbtn {
  display: flex;
  background-color: rgba(230, 226, 32, 0.993);
  color: white;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
  margin: 5px;
  padding: 5px;
  width: auto;
  height: 50px;
  list-style: none;
}

.starbtn:hover{
  cursor: pointer;
  color: black;
}

.starwars{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-top: 2%;
  padding: 10px;
  width: auto;
  /*height: 400px; */
  box-sizing: border-box;
  /* background: transparent; */
  background: rgb(255, 255, 255);
  box-shadow: 20px 10px 20px rgba(206, 138, 138, 0.5);
  border-radius: 15px;
  transition: 0.4s;
}

.starwars:hover {
  background: #71746d;
  box-sizing: border-box;
  box-shadow: 20px 10px 20px rgba(48, 47, 47, 0.9);
  border-radius: 15px;
  color:#fff;
}

.container {
  display: flex;
  border-radius: 15px;
  align-items: center;
  justify-items: center;
  justify-content: space-around;

}

/*Design Cards*/
.tablehead {
  /* display: flex; */
  border-radius: 15px;
  background-color: yellow;
  align-items: center;
  justify-items: center;
}

.tablebody {
  background-color: #93FF33; 
  align-items: center;
  justify-items: center;
}

.namerow {
  background-color: #33FFA2;
  
}

.containerCard {
  margin: 10px;
  padding: 10px;
  width: 98%;
  background: rgb(253, 252, 252);
  color: black;
  box-sizing: border-box;
  transition: 0.4s;
}

.containerCard:hover {
  background: black;
  color:yellow;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 10px rgba(48, 47, 47, 0.6);
  border-radius: 5px;
}
.containerStar {
  display: flex;
  flex-wrap: wrap;
}